<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Steganography</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <div class="container">

        <div class="heading1">
            <h1 class="text-center">WINGERS - Image Steganography Tool</h1>
        </div>
        
        <h2>Encryption</h2>
        <form action="/encrypt" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select Image:</label>
                <input type="file" class="form-control-file" id="file" name="file" accept=".png, .jpg, .jpeg, .gif" required>
            </div>
            <div class="form-group">
                <label for="text">Enter Text:</label>
                <input type="text" class="form-control" id="text" name="text" placeholder="Enter text to encrypt" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Encrypt</button>
        </form>

        {% if encrypted_text %}
        <div class="result">
            <p><strong>Encrypted Text:</strong> {{ encrypted_text }}</p>
            <p><strong>Key:</strong> {{ key }}</p>
        </div>
        {% endif %}
        
        <h2>Decryption</h2>
        <form action="/decrypt" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file_decrypt">Select Image:</label>
                <input type="file" class="form-control-file" id="file_decrypt" name="file" accept=".png, .jpg, .jpeg, .gif" required>
            </div>
            <div class="form-group">
                <label for="key">Enter Key:</label>
                <input type="number" class="form-control" id="key" name="key" min="2" placeholder="Enter decryption key" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Decrypt</button>
        </form>

        {% if message %}
        <div class="result">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        
        {% if decrypted_text %}
        <div class="result">
            <p><strong>Decrypted Text:</strong> {{ decrypted_text }}</p>
        </div>
        {% endif %}
    </div>

    <script>
        function clearFields() {
            document.getElementById("file").value = "";
            document.getElementById("text").value = "";
            document.getElementById("key").value = "";
            document.getElementById("file_decrypt").value = "";
        }
        window.onload = clearFields;
    </script>
</body>
</html>
